.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: var(--default-layout-width);
  max-width: 100%;
  margin-top: var(--default-layout-height-header);

  display: flex;
  justify-content: space-between;
}

.content {
  width: var(--content-width);
  max-width: var(--content-width);
  height: 200rem;
  margin: 0 1.6rem;
  padding: 2.4rem 0;
}
