.wrapper {
  --search-button-width: 5.2rem;

  width: 100%;
  height: var(--default-layout-height-header);

  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  background-color: var(--white-color);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: var(--default-layout-width);
  height: 100%;
  padding-left: 2rem;
  padding-right: 2.4rem;
}

.action {
  display: flex;
  align-items: center;
}

.icon-btn {
  padding: 0.2rem;
  margin-left: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 2.4rem;
  cursor: pointer;
}

.upload-button {
  width: 11.4rem;
}

.more-btn {
  font-size: 2rem;
  margin-left: 1.6rem;
  padding: 0 1rem;
  cursor: pointer;
}
